.container-notFound {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  width: min(90%, 900px);
  text-align: center;
}
.container img {
  width: 50%;
}
